body {
    background-color: rgb(51, 153, 255);
}

h1 {
    color: navy;
    text-align: center;
}

h2{
	color: navy;
	text-align: center;
}
h3{
	color: navy;
	text-align: left;
}

h5{
	color:black;
	text-align: left;
}

ul{
	color: black;
	list-style-position: inside;
	text-align: center;

}
i{
	color: white;
}

